@page "/test"
@using BlazorMonaco

<h1>Hello, world!</h1>

Welcome to your new app.

<div onclick="@HandleClick" class="my-component">
    @Message
</div>

@functions {
    string Message = "Click to change";
    async void HandleClick()
    {
        Message = await ExampleJsInterop.Prompt("Type a message");
        StateHasChanged();
    }
}